<div class="profile clearfix">
  <div class="profile_pic">
    <%= image_tag "img.jpg", class: "img-circle profile_img" %>
  </div>
  <div class="profile_info">
    <span><%= t ".welcome" %></span>
    <h2><%= t ".username" %></h2>
  </div>
</div>
